/* html {
    background-color: black;
} */

@font-face {
    font-family: 'Rajdhani';
    src: local('Rajdhani'), url(./assets/font/Logirentdemo-Ea5y8.otf) format('truetype');
}

* {
    font-family: Rajdhani, serif;
    color: #0004;
}

/* NavBar */

.fondo {
    background-color: rgba(3, 3, 3, 255)
}

.navlink {
    color: #ffffff !important;
    background-color: rgba(3, 3, 3, 255)
}

.navlink1 {
    color: #000000 !important;
    background-color: rgba(3, 3, 3, 255)
}

#basic-nav-dropdown {
    color: #ffffff;
    background-color: rgba(3, 3, 3, 255)
}

.gif {
    height: 100px;
}



.box {
    background-color: red;
    width: 300px;
    height: 300px;
}

.logo-carrito {
    height: 40px;
    width: 40px;
    display: flex;
    text-align: center;
}

.bienvenida {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 24px;
}

.button-div {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

.button-div button {
    padding: 10px;
}

.button-div p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-width: 2px;
}


/* PRODUCTOS */

.glasses {
    display: block;
    border: #555556 solid 1px;
    border-radius: 2px;
    background-color: black;
}

.glasses .glasses_box {
    text-align: center;
    padding: 0px 0px 30px 0px;
}


.glasses .glasses_box p {
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.glasses img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.glasses button {
    margin-top: 20px;
    color: #ffffff;
    background-color: rgb(53, 53, 53);
}

.nombre {
    padding-top: 30px;
}

/* ITEM DETAIL */

.item-detail {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-detail p {
    color: #ffffff;
}

.item-detail img {
    width: 400px;
    height: 400px;
}


.home {
    background-color: black;
}


.cart-number {
    color: white;
}


/* CART */



.div-cart {
    background-color: black;
    padding-left: 20px;
}

.titulos-cart {
    color: rgb(255, 255, 255);
}

.precio-producto {
    color: #ffffff;
}

.cantidad-producto {
    color: #ffffff;
    margin-top: -15px;
}

.imagen-cart {
    margin-left: -80px;
}

.eliminar-item {
    display: block;
}


.cart-number {
    margin-top: 10px;
    margin-left: 5px;
}

.foto-cart {
    width: 40px;
    height: 40px;
}

.precioTotal {
    color: white;
}

.mensaje {
    color: rgb(255, 255, 255);
}

.mensaje-back {
    background-color: #000000;
}