/* html {
    background-color: black;
} */

.box {
    background-color: red;
    width: 300px;
    height: 300px;
}

.logo-carrito {
    height: 40px;
    width: 40px;
    display: flex;
    text-align: center;
}

.bienvenida {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 24px;
}

.button-div{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

.button-div button {
    padding: 10px;
}

.button-div p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-width: 2px;
}